/** @format */

/* ==========================================================================
  1. Root and Variables
  ========================================================================== */
:root {
  --text-color: rgb(255, 255, 255);
  --background-color: transparent;
  --white: #fff;
  --font-family-main: "Courier New", Courier, monospace;
  --font-size-body: clamp(0.45rem, -0.27rem + 1.8vw, 1.5rem);
  --border-thin: solid 0.1em;
  --border-radius-large: 2em;
  --border-radius-medium: 0.75em;
  --border-radius-round: 50%;
  --gap-large: clamp(1rem, 0.5rem + 2.5vw, 2.75rem);
  --gap-medium: clamp(0.75rem, 0.25rem + 2.75vw, 2.75rem);
  --line-width: 2;
  --line-cap: round;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

input, textarea, select, button {
  font: inherit;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-main);
}

body {
  color: var(--text-color);
  font-family: var(--font-family-main);
  font-size: var(--font-size-body);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5% 5%;
  gap: var(--gap-medium);
  min-width: 500px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--gap-large);
}

button {
  border: var(--border-thin);
  background: var(--background-color);
  cursor: pointer;
}

h1 {
  font-weight: 900;
  font-size: 1.25em;
}

h2 {
  font-size: 1em;
  font-weight: 650;
}

h3 {
  font-size: 0.75em;
  font-weight: 700;
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: dashed;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 50%;
  transform: translateY(-75%);
  right: 0.75%;
  gap: 0.5em;
  z-index: 9999;
  transition: flex 0.3s ease;
}

.side-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-radius: 2em;
  transition: padding 0.3s ease, transform 0.3s ease;
  border: var(--border-thin);
}

.side-button:hover {
  padding: 0.1em 0em 0em 1em;
}

.side-button p {
  display: none;
  font-size: 0.75em;
  font-weight: 700;
  padding: 1em;
}

.side-button:hover p {
  display: flex;
  text-align: left;
}

.side-button:hover button {
  transform: rotate(-15deg);
}

#back-home span {
  display: inline-block;
  /* needed for transform */
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

#back-home.scrolled span {
  transform: rotate(-45deg);
}

.side-bar button {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  line-height: 1;
  border-radius: 50%;
  padding: 0.5em;
}

/* .desaturate {
  filter: grayscale(100%) brightness(1);
  display: inline;
  mix-blend-mode: screen;
} */

.container {
  aspect-ratio: 2/1;
  width: 100%;
  position: relative;
}

#avatar-frame {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -5;
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#avatar-circle {
  position: absolute;
  border-radius: 50%;
  z-index: 9999;
  width: 5.5%;
  aspect-ratio: 1/1;
  right: 24%;
  top: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: rotate 0.3 linear 0.5;
}

#compass {
  width: 50%;
  aspect-ratio: 1/1;
  clip-path: polygon(50% 0%, 100% 85%, 50% 50%, 0% 85%);
  transform-origin: center;
  transform: rotate(90deg);
}

#avatar {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  mix-blend-mode: darken;
}

#mySVG1 {
  z-index: -10;
  /* stay behind the avatar */
  width: 80%;
}

#information {
  position: absolute;
  top: 5%;
  right: 2.5%;
  width: 25%;
  font-size: 0.75em;
  font-weight: 700;
  text-align: justify;
  background-color: none;
}

#information::after {
  content: "";
  display: inline-block;
  width: 100%;
}

#like-info {
  position: absolute;
  padding: 0 !important;
  bottom: 12.5%;
  right: 3%;
  width: 8%;
  aspect-ratio: 1/1;
  font-size: 2em;
  cursor: pointer;
  overflow: visible;
  user-select: none;
  transition: scale 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9990;
  /* stay above bursts & other UI */
  pointer-events: auto;
  /* ensure clickable */
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.9);
  }

  /* squeeze */
  80% {
    transform: scale(0.97);
  }

  /* settle */
  100% {
    transform: scale(1);
  }
}

#like-info.heartbeat {
  animation: heartbeat 0.2s ease-in-out;
  transition: transform 0.3s ease;
}

#like-info:hover {
  transform: scale(1.1);
}

.flying-heart {
  position: absolute;
  pointer-events: none;
  font-size: 1em;
  transform-origin: center;
  user-select: none;
  z-index: 9999;
}

@keyframes heartFly {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  50% {
    transform: translate(var(--dx), -5em) scale(1.25);
    opacity: 0.75;
  }

  100% {
    transform: translate(calc(var(--dx) * 1.2), -7.5em) scale(1);
    opacity: 0;
  }
}

.flying-heart.animate {
  animation: heartFly var(--duration) cubic-bezier(0.2, 1, 0.2, 1) forwards;
}
/* Container */
#my-info {
  position: absolute;
  top: 20%;
  width: 70%;
  height: 80%;
  padding: 2.5% 3% 2% 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1;
  letter-spacing: 0.02em;
  gap: 0.25em;
}

.about-name {
  font-size: 1.5em;
  font-weight: 700;
}

.about-title {
  font-weight: 600;
}

.about-contact {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

#my-info li {
  font-size: 0.8em;
  font-weight: 500;
  padding: 0.1em 0.5em;
  font-style: normal;
}

/* Section Headings */
#my-info h2 {
  font-size: 1.25em;
  font-weight: 650;
}

/* Subheadings */
#my-info h3 {
  font-size: 0.9em;
  font-weight: 600;
  padding: 0.1em 0.5em;
}

/* About Me */
.about-quote {
  font-size: 0.8em;
  font-weight: 500;
  font-style: italic;
  padding: 0 0.25em;
}

.about-quote-2 {
  font-size: 0.8em;
  font-weight: 500;
  font-style: italic;
  padding: 0 0.25em;
}

#my-info .job,
#my-info .school,
#my-info .certifications,
#my-info .awards,
#my-info .about-bio {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#my-info .job h3:hover,
#my-info .school h3:hover,
#my-info .certifications h2:hover,
#my-info .awards h2:hover,
#my-info .about-bio p:hover {
  text-decoration: underline;
}

/* Hide lists and paragraph by default */
#my-info .job ul,
#my-info .school ul,
#my-info .certifications ul,
#my-info .awards ul,
#my-info .about-quote-2 {
  display: none;
}

/* Show only when parent has "info-selected" class */
#my-info .job.info-selected ul,
#my-info .school.info-selected ul,
#my-info .certifications.info-selected ul,
#my-info .awards.info-selected ul,
#my-info .about-bio.info-selected .about-quote-2 {
  display: block;
}

/* When any other section has .info-selected */
#my-info .job.info-selected ~ .traits span,
#my-info .school.info-selected ~ .traits span,
#my-info .certifications.info-selected ~ .traits span,
#my-info .awards.info-selected ~ .traits span,
#my-info .about-bio.info-selected ~ .traits span {
  transform: scaleY(0.15) skewX(-20deg); /* compress height and skew */
  border-radius: 0.15em;
}

#my-info .job ul,
#my-info .school ul,
#my-info .certifications ul,
#my-info .awards ul {
  padding: 0em 1.25em;
}

.traits {
  width: 100%;
  margin-top: auto; /* takes up remaining space */
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0;
  gap: 0.5em;
}

.traits span {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: var(--border-radius-large);
  font-size: 0.75em;
  font-weight: 750;
  font-style: italic;
  cursor: default;
  transition: transform 0.3s ease, border-radius 0.3s ease;
}

.traits span:hover {
  transform: translateY(-0.3em);
}

.box,
.border-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-large);
}

.box {
  padding: 1em;
}

.border-box {
  border: var(--border-thin);
  padding: 0 1em;
}

#skill-sorfwares {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

#skill-sorfwares h1 {
  padding: 0.25em 0.5em;
}

#skill-lines {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  /* so it doesn't block clicks */
  z-index: 2;
  display: none;
}

#skill-lines.visualized {
  display: block;
}

#skill {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.75em 2.5em;
  transition: transform 0.3s;
}

[class^="loading-"] {
  position: absolute;
  left: 0 !important;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: var(--white);
  transition: transform 0.3s ease, opacity 0.3s;
  clip-path: polygon(0 0, 45% 0, 45% 100%, 0% 100%);
  border: none !important;
  z-index: 0;
}

#skill [id^="skill-"] {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.2em;
  padding: 0.2em 1em;
  cursor: pointer;
  flex: 0 1 auto;
  transition: padding 0.3s ease, transform 0.3s ease, flex 0.3s ease;
}

#skill [id^="skill-"] h3 {
  display: none;
}

#skill [id^="skill-"].selected h3 {
  display: block;
  padding: 0% 7.5% 1% 2.5%;
  font-size: 0.75em;
  font-weight: 500;
}

#skill [id^="skill-"].selected [class^="loading-"] {
  opacity: 0.25;
}

#skill [id^="skill-"].visualized {
  width: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  z-index: 5;
  transition: padding 0.3s ease, transform 0.3s ease, flex 0.3s ease;
}

#skill [id^="skill-"].visualized:hover {
  padding: 1.25em;
}

#skill span {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  transition: padding 0.3s ease, transform 0.3s ease, flex 0.3s ease;
}

#skill [id^="skill-"].visualized span {
  right: 50%;
  transform: translate(50%, -50%) scale(1.25);
}

#skill [id^="skill-"].visualized div,
#skill [id^="skill-"].visualized p,
#skill [id^="skill-"].visualized h2,
#skill [id^="skill-"].visualized h3 {
  display: none;
}

#skill .unselected:hover {
  padding: 0.5em 1em;
}

.software-icons {
  display: flex;
  flex-direction: row !important;
  gap: 1em !important;
  align-items: center;
  padding: 0 !important;
  z-index: 5;
}

#year-buttons {
  position: absolute;
  top: -2.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  aspect-ratio: 5/1;
}

.carousel {
  display: flex;
  align-items: center;
  padding: 0.25em 1em;
  border-width: 0.25em;
  border-radius: var(--border-radius-large);
}

#year-buttons button {
  font-size: 1em;
  padding: 0.25em 0.5em;
  color: inherit;
  border: none;
  border-radius: var(--border-radius-large);
  transition: scale 0.1s ease;
}

#year-buttons button:hover {
  scale: 1.2;
}

#year-label {
  text-align: center;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  margin-top: 0.15em;
  pointer-events: none;
}

[id^="skill-"].visualized.selected {
  padding: 1.2em !important;
}

.selected {
  padding: 1em !important;
  flex: 10 0 100%;
  width: 100%;
}

.selected p {
  z-index: 4;
}

.unselected p {
  display: none;
}

#sorfwares {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.75em 2.5em;
  transition: transform 0.3s;
}

#sorfware-0 {
  display: grid;
  justify-items: center;
  /* horizontal centering in each cell */
  align-items: center;
  /* vertical centering in each cell */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;

  width: 100%;
  height: 85%;
  gap: 2.5%;
  transition: grid-template-columns 0.4s ease 0.5s,
    grid-template-rows 0.4s ease 0.5s;
}

#sorfware-0 > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-style {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5em;
  font-weight: 700;
}

.software-item .value-style {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.software-item:hover .value-style {
  opacity: 1;
  pointer-events: auto;
}

.software-item {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: var(--border-thin);
  transition: width 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.software-item.visualized {
  width: 50%;
  /* shrink or grow smoothly */
}

.software-item.visualized div,
.software-item.visualized p {
  display: none;
}

.software-item:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.software-item.visualized:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.software-item img {
  width: 50%;
  height: 50%;
  z-index: 2;
}

.software-item .circle-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
  transform: rotate(135deg);
  transform-origin: center;
}

#visualize {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  width: 45%;
  height: 12.5%;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s ease;
}

#visualize:hover {
  transform: scale(1.025);
}

#formula {
  position: absolute;
  top: 57.5%;
  right: 25%;
  width: 27.5%;
  font-size: 0.5em;
  font-weight: 700;
  text-align: justify;
}

#search {
  width: 60%;
  height: 15%;
  transition: width 0.2s;
}

#search-box {
  width: 100%;
  font-size: 1em;
  border: none;
  outline: none;
  background: inherit;
}

.box .search-icon {
  margin: 0.5%;
  cursor: pointer;
}

.search-parent-highlight {
  border-radius: 10em;
  transition: background-color 0.3s ease;
  padding: 0em 0.5em;
}

#search-box::placeholder {
  opacity: 0.5;
  font-style: italic;
  color: var(--text-color);
}



.round-corner {
  border-radius: var(--border-radius-medium);
}

.round {
  border-radius: 50%;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5em;
}

.logo {
  font-weight: bold;
  width: 17.5%;
}

.nav-links {
  list-style: none;
  width: 77.5%;
  justify-content: space-around;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.25em;
}

.nav-links a:hover {
  text-decoration: underline;
}
